/Coursework Neural Network/*
!/Coursework Neural Network/*.py
!/Coursework Neural Network/*.csv
!/Coursework Neural Network/ME4 ML Neural Network Coursework.pdf


*Lecture Slides*
Machine Learning ME4 Leacture Notes.pdf

/Tutorials/tutorial_3/Fanyi Sun.docx
/Tutorials/tutorial_3/Fanyi Sun.pdf
/Tutorials/tutorial_9/Fanyi Sun.docx
/Tutorials/tutorial_9/Fanyi Sun.pdf
/Tutorials/tutorial_10/Fanyi Sun.docx
/Tutorials/tutorial_10/Fanyi Sun.pdf